
{
  "extends": [
    "stylelint-config-prettier"
  ],
  "rules": {
    "value-no-vendor-prefix": [true, { "ignoreValues": ["box"] }],
    "property-no-vendor-prefix": [true, { "ignoreProperties": ["box-orient", "appearance"] }]
  }
}
